.auth-header {
    display: flex;
    gap: 10px;
    margin-left: auto;
  
    .auth-button {
      padding: 6px 14px;
      border-radius: 6px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      border: none;
      transition: all 0.3s ease;
      text-transform: uppercase;
  
      &.login {
        background-color: transparent;
        color: $red-main;
        border: 1px solid $red-main;
  
        &:hover {
          background-color: $red-main;
          color: #fff;
        }
      }
  
      &.signup {
        background-color: $red-main;
        color: #fff;
  
        &:hover {
          background-color: $red-main;
          box-shadow: 0 0 10px rgba(255, 99, 71, 0.5);
        }
      }
  
      &.logout {
        background-color: transparent;
        color: $red-main;
        border: 1px solid $red-main;
  
        &:hover {
          background-color: $red-main;
          border-color: $red-main;
          color: #fff;
        }
      }
    }
  }
  