@import './bootstrap/imports';
@import './variables';
@import './components/layout';
@import './components/sidebar';
@import './components/grid';
@import './components/card';
@import './components/breakingCard';
@import './components/latestNews';
@import './components/topBanner';
@import './components/bookmark';
@import './components/authHeader';
@import './components/searchBar';
@import './components/mobileNavbar';
@import './components/loader';


@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Light.woff2') format('woff2');
  font-weight: 300; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Black.woff2') format('woff2');
  font-weight: 900; 
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: 'Inter', sans-serif;
}

.btn-primary {
  background-color: $red-main !important;
  border: none !important;
}

body, html, #root {
  background-color: #F4F5F8;
  height: 100%;
  font-size: 18px;
}

#root {
  display: flex;
  flex-direction: column;
}

.navbar-toggler{
  border: none;
}
